flow_processor.json
{"flowContents":{"identifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","instanceIdentifier":"bdb804e2-019d-1000-f7a6-ff3be3f2a4cb","name":"Custom Processor","comments":"","position":{"x":-1128.0,"y":-176.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7d1413f2-3e36-3778-a5d4-15437809ee51","instanceIdentifier":"cddbe1f0-019d-1000-356e-6f687a81c4c9","name":"InvokeHTTP","comments":"","position":{"x":952.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://dummyjson.com/products","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"cf22356d-4e05-3fa2-95b5-f0438d7e1f64","instanceIdentifier":"cd346a85-019d-1000-aa93-c4d79e4cf162","name":"UpdateAttribute","comments":"","position":{"x":168.0,"y":432.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","final_price":"${price:toDecimal():minus(${price:toDecimal():multiply(${discountPercentage:toDecimal()}):divide(100)})}","label":"${rating:toNumber():ge(5):ifElse(\n    'excellent',\n    ${rating:toNumber():ge(4):ifElse('very good','good')}\n)}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"final_price":{"name":"final_price","displayName":"final_price","identifiesControllerService":false,"sensitive":false,"dynamic":true},"label":{"name":"label","displayName":"label","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"e0fdf9ea-87ed-3e62-b15d-aa990a64bc05","instanceIdentifier":"be5193ca-019d-1000-ba15-525fa3a17757","name":"InvokeHTTP","comments":"","position":{"x":168.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://dummyjson.com/products","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"43bad587-1621-3a9d-8b75-8bdd8a6f776f","instanceIdentifier":"be859fc7-019d-1000-f29a-0046df8bcc0e","name":"SplitJson","comments":"","position":{"x":168.0,"y":-160.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.products[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"078306d4-433b-3db5-9764-d41fb1335bde","instanceIdentifier":"be936247-019d-1000-29df-5960312faf69","name":"EvaluateJsonPath","comments":"","position":{"x":168.0,"y":32.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"discountPercentage":"$.discountPercentage","Destination":"flowfile-attribute","Max String Length":"20 MB","price":"$.price","Return Type":"auto-detect","rating":"$.rating","Null Value Representation":"empty string","id":"$.id","category":"$.category","title":"$.title","brand":"$.brand","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"discountPercentage":{"name":"discountPercentage","displayName":"discountPercentage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"price":{"name":"price","displayName":"price","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rating":{"name":"rating","displayName":"rating","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"category":{"name":"category","displayName":"category","identifiesControllerService":false,"sensitive":false,"dynamic":true},"title":{"name":"title","displayName":"title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"brand":{"name":"brand","displayName":"brand","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"c471de71-8fcc-393a-b741-66244332684d","instanceIdentifier":"cd01e182-019d-1000-95aa-9b709279ef81","name":"RouteOnAttribute","comments":"","position":{"x":168.0,"y":232.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"rating_more_than_3":"${rating:toNumber():gt(3)}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"rating_more_than_3":{"name":"rating_more_than_3","displayName":"rating_more_than_3","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"35b193ed-a1a7-3b59-8c33-1f615fa27b31","instanceIdentifier":"cdc6e030-019d-1000-1923-79b54fe5c512","name":"ReplaceText","comments":"","position":{"x":168.0,"y":640.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"id\": \"${id}\",  \n  \"title\": \"${title}\",\n  \"category\": \"${category}\",\n  \"final_price\": ${final_price}\n  \"rating\": ${rating},\n  \"rating_label\": \"${label}\"\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"5dc18ed5-1d21-3ed5-8029-1b1aea80a7b9","instanceIdentifier":"ce2bab9d-019d-1000-6d92-6ba6c98e2f2c","name":"TransformJSON","comments":"","position":{"x":952.0,"y":-152.0},"type":"TransformJSON","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0"},"properties":{},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8dadb3ae-74ff-3d6f-961a-b310d6323fd2","instanceIdentifier":"be87bee8-019d-1000-293d-ba4bc75eed79","name":"","source":{"id":"43bad587-1621-3a9d-8b75-8bdd8a6f776f","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"SplitJson","comments":"","instanceIdentifier":"be859fc7-019d-1000-f29a-0046df8bcc0e"},"destination":{"id":"078306d4-433b-3db5-9764-d41fb1335bde","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"be936247-019d-1000-29df-5960312faf69"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"ffdc64d8-6935-35b9-aa99-838fccb7d2ea","instanceIdentifier":"be7105d1-019d-1000-537a-cd132c0cf92e","name":"","source":{"id":"e0fdf9ea-87ed-3e62-b15d-aa990a64bc05","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"InvokeHTTP","comments":"","instanceIdentifier":"be5193ca-019d-1000-ba15-525fa3a17757"},"destination":{"id":"43bad587-1621-3a9d-8b75-8bdd8a6f776f","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"SplitJson","comments":"","instanceIdentifier":"be859fc7-019d-1000-f29a-0046df8bcc0e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"e8ad4f72-c36b-3632-ac6d-206bd5d1e947","instanceIdentifier":"ce2caf26-019d-1000-3df6-0250c7470afe","name":"","source":{"id":"5dc18ed5-1d21-3ed5-8029-1b1aea80a7b9","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"TransformJSON","comments":"","instanceIdentifier":"ce2bab9d-019d-1000-6d92-6ba6c98e2f2c"},"destination":{"id":"441ac477-7d08-3f74-9080-32549930af52","type":"FUNNEL","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"Funnel","comments":"","instanceIdentifier":"ce2c1e57-019d-1000-f6c8-8983416c3ee1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1320.0,"y":80.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"e7f755df-dd3c-38ce-8668-f12bbec03815","instanceIdentifier":"ce2c091e-019d-1000-e6dd-b57fe70fd7d1","name":"","source":{"id":"7d1413f2-3e36-3778-a5d4-15437809ee51","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"InvokeHTTP","comments":"","instanceIdentifier":"cddbe1f0-019d-1000-356e-6f687a81c4c9"},"destination":{"id":"5dc18ed5-1d21-3ed5-8029-1b1aea80a7b9","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"TransformJSON","comments":"","instanceIdentifier":"ce2bab9d-019d-1000-6d92-6ba6c98e2f2c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"bf447374-d10d-33ec-a6b7-7c80fc273e41","instanceIdentifier":"cd3d5631-019d-1000-3473-5bf18dbe9172","name":"","source":{"id":"cf22356d-4e05-3fa2-95b5-f0438d7e1f64","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"UpdateAttribute","comments":"","instanceIdentifier":"cd346a85-019d-1000-aa93-c4d79e4cf162"},"destination":{"id":"35b193ed-a1a7-3b59-8c33-1f615fa27b31","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"ReplaceText","comments":"","instanceIdentifier":"cdc6e030-019d-1000-1923-79b54fe5c512"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"68388cde-8c2b-324c-8e71-70ee8f444a75","instanceIdentifier":"cd08aefe-019d-1000-e261-3f5ecb431d4a","name":"","source":{"id":"c471de71-8fcc-393a-b741-66244332684d","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"cd01e182-019d-1000-95aa-9b709279ef81"},"destination":{"id":"cf22356d-4e05-3fa2-95b5-f0438d7e1f64","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"UpdateAttribute","comments":"","instanceIdentifier":"cd346a85-019d-1000-aa93-c4d79e4cf162"},"labelIndex":0,"zIndex":0,"selectedRelationships":["rating_more_than_3"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"90e9d02b-df2c-3c8e-bc90-c0dc9e812339","instanceIdentifier":"d220aaf7-019d-1000-22a5-750b66c5f083","name":"","source":{"id":"c471de71-8fcc-393a-b741-66244332684d","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"cd01e182-019d-1000-95aa-9b709279ef81"},"destination":{"id":"63f9e3ff-2435-3261-8ab5-44fc0f43c257","type":"FUNNEL","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"Funnel","comments":"","instanceIdentifier":"be716e75-019d-1000-656b-4a28a697db6a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"ef4e121b-8fd9-3927-97e0-2ec50647cade","instanceIdentifier":"cdc7badb-019d-1000-6dd2-6763724f06b3","name":"","source":{"id":"35b193ed-a1a7-3b59-8c33-1f615fa27b31","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"ReplaceText","comments":"","instanceIdentifier":"cdc6e030-019d-1000-1923-79b54fe5c512"},"destination":{"id":"4e47ecf9-857f-3031-9c28-dd4152e55b60","type":"FUNNEL","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"Funnel","comments":"","instanceIdentifier":"be70defd-019d-1000-61d9-2b8e347424b1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"525c4d10-f5b8-34b8-8eaf-e8fd27a2ac59","instanceIdentifier":"ce2c6149-019d-1000-c88c-97bd0d02ce17","name":"","source":{"id":"7d1413f2-3e36-3778-a5d4-15437809ee51","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"InvokeHTTP","comments":"","instanceIdentifier":"cddbe1f0-019d-1000-356e-6f687a81c4c9"},"destination":{"id":"441ac477-7d08-3f74-9080-32549930af52","type":"FUNNEL","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"Funnel","comments":"","instanceIdentifier":"ce2c1e57-019d-1000-f6c8-8983416c3ee1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"99e463be-2c78-3013-ba20-f8d379ffd0ce","instanceIdentifier":"ce2c9772-019d-1000-3fff-c501440ae23f","name":"","source":{"id":"5dc18ed5-1d21-3ed5-8029-1b1aea80a7b9","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"TransformJSON","comments":"","instanceIdentifier":"ce2bab9d-019d-1000-6d92-6ba6c98e2f2c"},"destination":{"id":"441ac477-7d08-3f74-9080-32549930af52","type":"FUNNEL","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"Funnel","comments":"","instanceIdentifier":"ce2c1e57-019d-1000-f6c8-8983416c3ee1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"520639e0-5a07-365a-8342-97a9081e43c7","instanceIdentifier":"be943db7-019d-1000-df44-9409be61e104","name":"","source":{"id":"078306d4-433b-3db5-9764-d41fb1335bde","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"be936247-019d-1000-29df-5960312faf69"},"destination":{"id":"c471de71-8fcc-393a-b741-66244332684d","type":"PROCESSOR","groupId":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f","name":"RouteOnAttribute","comments":"","instanceIdentifier":"cd01e182-019d-1000-95aa-9b709279ef81"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"}],"labels":[{"identifier":"d7d13326-8814-3f28-b804-d8deecab057f","instanceIdentifier":"cddc9ca3-019d-1000-cfa1-1a1df971e55f","position":{"x":104.0,"y":-424.0},"label":"Data Transformation Using\nNative NiFi Processors","zIndex":0,"width":736.0,"height":1336.0,"style":{"background-color":"#e8f2eb","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"f12c9e01-5596-3e39-b6ea-77be5f4d2607","instanceIdentifier":"d227e70d-019d-1000-48ee-a481408cb763","position":{"x":896.0,"y":-424.0},"label":"Data Transformation Using\nCustom NiFi Processors","zIndex":0,"width":728.0,"height":560.0,"style":{"background-color":"#e8edf2","font-size":"16px"},"componentType":"LABEL","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"}],"funnels":[{"identifier":"63f9e3ff-2435-3261-8ab5-44fc0f43c257","instanceIdentifier":"be716e75-019d-1000-656b-4a28a697db6a","position":{"x":768.0,"y":280.0},"componentType":"FUNNEL","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"4e47ecf9-857f-3031-9c28-dd4152e55b60","instanceIdentifier":"be70defd-019d-1000-61d9-2b8e347424b1","position":{"x":320.0,"y":848.0},"componentType":"FUNNEL","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"},{"identifier":"441ac477-7d08-3f74-9080-32549930af52","instanceIdentifier":"ce2c1e57-019d-1000-f6c8-8983416c3ee1","position":{"x":1552.0,"y":-216.0},"componentType":"FUNNEL","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"}],"controllerServices":[{"identifier":"b5cd2568-f47e-3bcb-be1f-43d2fd4bd775","instanceIdentifier":"cdc968ee-019d-1000-c2f6-5bcdaaef85cd","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.0.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":null,"dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":null,"dbcp-time-between-eviction-runs":"-1","Database User":null,"kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b2ad908c-6fd1-3be1-9d2b-b055c00c704f"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}